.no-scroll {
    overflow: hidden;
}

.media-manager-container {
    @import '~bulma';
    @import '../vendor/sass/manager.scss';

    .modal {
        z-index: 1050;
        position: fixed;
    }
    .modal-content {
        height: auto;
    }
    .modal-manager__Inmodal > .modal-content {
        width: 93%;
    }
}
